@using HutechAndYou.Models
@model List<GioHang>

@{
    ViewBag.Title = "GioHangCuaBan";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}





<div class="carousel-inner">
    <div class="item active">
        <img src="~/Content/images/banner3.png" style="width:100%; height: 150px" alt="First slide">
        <div class="carousel-caption">
            <h1>GIỎ HÀNG CỦA BẠN</h1>
        </div>
    </div>
</div>

<section class="about-block">
    <div class="container">
        <div class="row">
            <div class="list-group-item">
                <table class="table center-aligned-table">
                    <thead>
                        <tr>
                            <th class="border-bottom-0">Tên sản phẩm</th>
                            <th class="border-bottom-0">Ảnh minh họa</th>
                            <th class="border-bottom-0">SL</th>
                            <th class="border-bottom-0">Giá bán</th>
                            <th class="border-bottom-0">Thành tiền</th>
                            <th class="border-bottom-0">Chức năng</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.sTenSP</td>
                            <td><img alt="image" class="img-responsive" src="~/Hinh Anh/SanPham/@item.sAnhMH" style="width:100px"></td>
                            <td>@item.iSoLuong Cái</td>
                            <td>@string.Format("{0:0,0}", item.dDonGia) VNĐ</td>
                            <td>@string.Format("{0:0,0}", item.dThanhTien) VNĐ</td>
                            <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMaSP }) - @Html.ActionLink("Xóa tất cả", "XoaHetGioHang")</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <table class="table center-aligned-table">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th class="border-bottom-0">Số lượng sản phẩm: @ViewBag.TongSoLuong</th>
                            <th class="border-bottom-0">Tổng tiền: @string.Format("{0:0,0}", @ViewBag.TongTien) VNĐ</th>
                        </tr>
                    </thead>
                </table>
                <table class="table center-aligned-table">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th><a href="@Url.Action("MuaHang","Home")" style="float:left;" class="book-now-btn">Mua tiếp</a></th>
                            <th><a href="@Url.Action("Dathang", "GioHang")" style="float:right;" class="book-now-btn">Mua ngay</a></th>
                        </tr>
                    </thead>
                </table>               
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>